@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans:wght@200&display=swap");

:root {
	--primary: #ecaf44;
	/* --primary-vary: ; */

	--secondary: #be2f29;
	/* --secondary-vary: ; */

	/* --accent: #1a2c42; */
	--complement: #1a2c42;

	--light: #dfdce5ff;
	--dark: #0c1115;
}

html {
	font-size: min(18px, 2vw);
	color: var(--light);
}
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Merienda", Helvetica, Arial;
	overflow: hidden;
}
h1 {
	font-family: "Dancing Script", Arial;
	font-size: 2.2rem;
	color: var(--primary);
}
h2 {
	font-family: "Dancing Script", Arial;
	font-size: 1.4rem;
	color: var(--light);
}

p {
	font-family: "Josefin Sans", sans-serif;
	color: var(--light);
	letter-spacing: 0.05rem;
	line-height: 1.6rem;
	font-weight: 1000;
}

.basic-container {
	width: 100vw;
	height: 80vh;
	display: flex;
	position: absolute;

	margin: 20px auto;
	padding: 1rem 2rem 1rem 2rem;
}
